@import 'config';
@import 'menu';

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&::selection {
		background: #ffcf9e;
	}

	&::-moz-selection {
		background: #ffcf9e;
	}
}

body {
	@include background;
	background: $primary-color;
	color: set-text-color($primary-color);
	margin: 0;
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

.container {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

section {
	height: 100vh;
}

//heading
h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	&.large-heading {
		font-size: 6rem;
	}

	&.small-heading {
		margin-bottom: 2rem;
		padding: 0.2rem 1rem;
		background: rgba(lighten($primary-color, 2), 0.5);
		border-radius: 1rem;
	}
}

a {
	color: #fff;
	text-decoration: none;
}

a.gradient-link {
	background: $gradient-color;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-bottom: 1px solid transparent;
	border-image: $gradient-color 50 round;
	border-top: 0;
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary {
	background: $gradient-color;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

main {
	padding: 4rem;
	//height: 100%;
	min-height: calc(100vh - 60px);

	.icons {
		margin-top: 1rem;

		a {
			padding: 0.4rem;
			color: set-text-color($primary-color);
			&:hover {
				color: orange;
				@include easeOut;
			}
		}
	}

	&#home {
		overflow: hidden;
		h1 {
			margin-top: 20vh;
		}
	}
}

.about-info {
	display: grid;
	grid-gap: 30px;
	grid-template-areas:
		'bioimage bio bio'
		'job1 job2 job3';
	grid-template-columns: repeat(3, 1fr);

	.bio-image {
		grid-area: bioimage;
		margin: auto;
		width: 315px;
		height: 315px;
		background: url('../img/portrait_bio.jpg');
		border-radius: 50%;
		border: orange 3px solid;
	}

	.bio {
		grid-area: bio;
		font-size: 1.5rem;
	}

	.job-1 {
		grid-area: job1;
	}
	.job-2 {
		grid-area: job2;
	}
	.job-3 {
		grid-area: job3;
	}

	.job {
		background: lighten($primary-color, 5);
		padding: 0.5rem;
		border-bottom: 3px solid transparent;
		border-image: $gradient-color 50 round;
		border-image-repeat: stretch;
	}
}

//Contact page
.boxes {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	div {
		font-size: 2rem;
		border: 3px set-text-color($primary-color) solid;
		padding: 1.5rem 2.5rem;
		margin: 3rem;

		@include easeOut;

		&:hover {
			padding: 0.5rem 1.5rem;
			margin: 4rem;
			background: $gradient-color;
			color: set-text-color(orange);
			a {
				color: set-text-color(orange);
			}
			span {
				background: set-text-color(orange);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}

.job {
	h3 > a {
		text-decoration: underline;
	}
}

#main-footer {
	text-align: center;
	padding: 1rem;
	background: darken($primary-color, 10);
	color: set-text-color($primary-color);
	height: 60px;
}

@import 'mobile';
